<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Info - Wabot</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="font-sans bg-gray-50 h-screen w-full flex justify-center items-center text-gray-700">

	<div class="max-w-xl m-auto p-6 rounded-lg bg-white shadow flex flex-col items-center justify-center">
		<img class="h-20 w-20 m-sm" src="/images/logo.png" alt="logo">
		<div class="max-w-sm text-center flex flex-col gap-2">
			<span>Sesi Anda telah terputus. Apakah Anda ingin masuk kembali untuk melanjutkan?</span>
			<strong class="underline text-xl"><%= sessionId %></strong>
		</div>
		<div class="flex gap-2 items-center mt-6">
			<a href="/">
				<button type="submit" class="rounded bg-green-600 hover:bg-green-500 text-white px-4 py-2">Ya, Masuk</button>
			</a>
			<form action="/logout/<%= sessionId %>" method="POST">
				<button type="submit" class="rounded bg-rose-600 hover:bg-rose-500 text-white px-4 py-2">Tidak, Akhiri</button>
			</form>
		</div>
	</div>
</body>
</html>
