<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Docs - Wabot</title>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
	<link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/typography.css">
    <script>
        function renderMarkdown() {
			document.querySelectorAll('.markdown-body').forEach((element) => {
				const markdownText = element.textContent.trim();
				const formattedText = markdownText.replace(/\n/g, '\n\n');
				element.innerHTML = marked.parse(formattedText);
			});
		}
    </script>
</head>
<body class="font-sans bg-gray-50 flex flex-col">
	<%- include('partials/header') %>
	<div>
		<main class="min h-screen pt-20 p-4 flex flex-col md:flex-row gap-6">
			<%- include('partials/sidebar') %>
            <div class="h-full w-full overflow-y-auto border border-gray-200 rounded-lg bg-white p-4">
                <img class="h-36 w-36 m-auto" src="/images/logo.png" alt="logo">
                <h2 class="text-center text-4xl font-bold">
                    Panduan Penggunaan
                </h2>
                <p class="text-center max-w-lg m-auto mt-2">
                    Panduan ini memberikan instruksi yang jelas dan singkat tentang cara menggunakan berbagai prompt pada bot WhatsApp. Dengan mengikuti panduan ini, pengguna dapat memanfaatkan berbagai fitur yang tersedia untuk mendapatkan informasi, menerjemahkan teks, dan banyak lagi, dengan cara yang mudah dan efisien.
                </p>
                <div class="markdown-body">
                    <%= DocsContent %>
                </div>
            </div>
        </main>
    </div>
    <script src="/js/script.js"></script>
    <script>
        renderMarkdown();
    </script>
</body>
</html>
