<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whastapp Bot</title>
	<script src="https://cdn.tailwindcss.com"></script>
  <link rel="icon" type="image/png" href="/images/logo.png">
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const sessionId = "<%= sessionId || '' %>";
        const socket = io();

        socket.on('connect', () => {
            console.log('Connected to server');
            if (sessionId) {
                socket.emit('joinRoom', sessionId);
            }
        });

        socket.on('newQRCode', (qrCodeUrl) => {
            const qrImage = document.getElementById('qrImage');
            if (qrImage) {
                qrImage.src = qrCodeUrl; // Memperbarui src gambar QR
            }
        });

        socket.on('redirectToDashboard', (sessionId) => {
            window.location.href = `/dashboard/${sessionId}`;
        });
    </script>
</head>
<body class="bg-gray-50 min-h-screen w-full flex flex-col justify-center items-center p-4">
    <div class="max-w-xl bg-white mx-auto p-8 border border-gray-200 rounded-lg">
		<img class="h-36 w-auto m-auto" src="/images/logo.png" alt="logo">
        <h1 class="text-2xl font-bold mb-2 text-center">WhatsAppBot Connect</h1>
		<p class="text-center max-w-sm m-auto mb-6">
			Masuk untuk terhubung dengan WhatsAppBot dan mulai otomatisasi pesan dengan mudah.
		</p>
        <div class="mb-4 m-auto">
            <img id="qrImage" src="<%= qrCodeUrl %>" alt="QR Code" class="m-auto border border-gray-300 rounded" style="<%= qrCodeUrl ? '' : 'display:none;' %>">
        </div>
        <form action="/register" method="POST" class="mb-4 flex flex-col justify-center items-center gap-4">
			<% if (error) { %>
				<p class="text-center max-w-sm m-auto text-red-600"><%= error %></p>
			<% } %>
			<input type="number" name="phoneNumber" placeholder="Enter phone number" required class="focus:outline-none text-center w-full border p-2 rounded">
            <div>
				<button type="submit" class="bg-green-600 hover:bg-green-500 text-white px-4 py-2 rounded flex gap-1 items-center">
					Connect
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-5">
					  <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
					</svg>
				</button>
			</div>
        </form>
		<footer class="pt-4">
			<p class="text-center text-xs text-gray-600">
				©<script>document.write(new Date().getFullYear());</script> <a href="https://i-as.dev/" class="text-indigo-500 hover:text-indigo-600 font-semibold">I-As.Dev</a>. All Rights Reserved.
			</p>
		</footer>
    </div>
</body>
</html>
